@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

html,
body {
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0 !important;

  background-color: #faf8f5;
  /* background: #fff6e5; */
  /* background: #f8f2a1; */
  /* background: linear-gradient(to right, #feffea 0%, #e7e3de 100%); */
}

.lexend-deca-title {
  font-family: "Lexend Deca", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lexend-deca-subtext {
  font-family: "Lexend Deca", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.text-center {
  text-align: center;
}
